<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path 'post-bg.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= @post.titulo %></h1>
                    <h2 class="subheading"><%= @post.descripcion %></h2>
                    <span class="meta">Posteado por <%= link_to "#{@post.usuario.email}", autore_path(@post.usuario) %> el <%= @post.created_at %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%= link_to "Posts del autor", autore_path(@post.usuario), class: "btn btn-info" %>

                <hr>
                <%= @post.cuerpo %>
                <hr>

                <a href="#">
                    <%= image_tag 'post-sample-image.jpg', class: "img-responsive" %>
                </a>

                <p>Placeholder text by <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
            </div>
        </div>
        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <% if @post_anterior.present? %>
                    <%= link_to (@post_anterior) do %>
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Anterior
                    <% end %>
                <% end %>
            </li>

            <li class="next">
                <%#= link_to (@post_siguiente if @post_siguiente.present?) do %>
                    <!--                        
                        Funciona bien SALVO porque en el ultimo post que sigue apareciendo y redireccionando a ese mismo post en lugar de desaparecer.

                        Siguiente <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    -->
                <%# end %>

                <% if @post_siguiente.present? %>
                    <%= link_to (@post_siguiente) do %>
                        Siguiente <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <% end %>
                <% end %>
            </li>
        </ul>
    </div>
</article>

