<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path 'post-bg.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= yield :titulo %></h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
	<%= simple_form_for [:admin, @post] do |f| %>
	  <%= f.input :titulo %>
	  <%= f.input :descripcion %>
	  <%= f.input :cuerpo %>
	  <%= f.submit class: "btn btn-info" %>
	<% end %>
</div>

<br><br><br>