<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path 'about-bg.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1><%= @usuario.email %></h1>
                    <hr class="small">
                    <span class="subheading">Estos son todos mis posts.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
    	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			    <% @posts.each do |post| %>
			        <div class="post-preview">
			            <%= link_to admin_post_path(post) do %>
			                <h2 class="post-title">
			                  <%= post.titulo %>
			              </h2>
			              <h3 class="post-subtitle">
			                  <%= post.descripcion.truncate(150) %>
			              </h3>
			            <% end %>
			            <p class="post-meta">Posteado por <%= link_to "#{post.usuario.email}", admin_path %> el <%= post.created_at %></p>
                
                <% if can? :crud, post %>
			          	<%= link_to "Editar", edit_admin_post_path(post), class: "btn btn-warning" %>
			            <%= link_to "Eliminar", admin_post_path(post), method: :delete, data: {confirm: "Estas seguro?"}, class: "btn btn-danger" %>
			          <% end %>

			        </div>
			        <hr>
			    <% end %>
			</div>
    </div>
</div>

<hr>
