<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(<%= asset_path 'post-bg.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= @post.titulo %></h1>
                    <h2 class="subheading"><%= @post.descripcion %></h2>
                    <span class="meta">Posteado por <a href="#"><%= @post.usuario.email %></a> el <%= @post.created_at %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <% if can? :crud, @post %>
                    <%= link_to "Editar", edit_post_path(@post), class: "btn btn-warning" %>
                    <%= link_to "Eliminar", @post, method: :delete, data: {confirm: 'Estas seguro?'}, class: "btn btn-danger" %>
                    <hr>
                <% end %>

                <%= @post.cuerpo %>
                <hr>

                <a href="#">
                    <%= image_tag 'post-sample-image.jpg', class: "img-responsive" %>
                </a>

                <p>Placeholder text by <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
            </div>
        </div>
    </div>
</article>